.life__btn {
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all ease 0.5s;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

.life__btn:hover {
  background-color: var(--primary-color-hover);
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

.life__btn.normal {
  padding: 0.3rem 1.5rem;
}
.life__btn.small {
  padding: 0.1rem 1rem;
}
.life__btn.large {
  padding: 0.1rem 1rem;
}

.life__input input {
  border: none;
  color: var(--dark);
}

.life__input,
.life__select {
  position: relative;
  display: flex;
  margin: 0 0.4rem;
  border-bottom: 1px solid var(--primary-color);
  cursor: pointer;
  line-height: 1.1;
}
.life__select {
  width: 5rem;
}

.life__select::before {
  position: absolute;
  top: 0.5rem;
  right: 0;
  content: "";
  width: 0.8rem;
  height: 0.5rem;
  background-color: var(--primary-color);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.life__select select,
.life__input input[type="date"] {
  width: 100%;
  padding: 0 0.4rem;
  color: var(--primary-color-hover);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.life__select select::-ms-expand {
  display: none;
}

.life__input input[type="date"] {
  width: 7rem;
}

.life__input .react-date-picker__wrapper {
  border: none !important;
}

.life__input .react-date-picker__calendar-button.react-date-picker__button {
  color: var(--primary-color-hover);
}
