.life__modal {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: var(--black-rgba);
  display: flex;
  justify-content: center;
}

.life__modal_main {
  width: 25rem;
  max-height: 15rem;
  margin: 10%;
  padding: 1rem;
  box-shadow: 0.1rem 0.2rem 0.3rem 0.1rem var(--black-rgba);
  background-color: var(--white);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.life__modal .life__page__title {
  color: var(--primary-color);
  font-size: 1.5rem;
  width: 90%;
  margin-bottom: 1rem;
  padding: 0.1rem 0.9rem;
}

.life__modal .life__form__control {
  width: 100%;
  padding: 0.1rem 0.5rem 0.5rem 0.5rem;
  color: var(--primary-color);
  flex-direction: column;
  height: 3.5rem;
  margin: 0 0.3rem 1rem 0.3rem;
  border-color: var(--primary-color);
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.life__modal .life__form__control .life__input {
  width: 100%;
  height: 2rem;
  margin: 0;
  color: var(--dark-color);
  -webkit-text-fill-color: var(--dark-color) !important;
}

.life__modal .life__form__control.row {
  border: none;
}

.life__modal .life__form__control.row .life__form__label {
  margin-left: 0.5rem;
}

.life__modal .life__form__label {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.life__modal .life__form__label svg {
  margin-right: 0.3rem;
}
